pdfminer3
matplotlib
pyresparser
streamlit
pandas
pymysql
spacy>=3.5.0,<3.6.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
scikit-learn
streamlit-tags
google.generativeai
python-dotenv
PyPDF2
scikit-learn==1.5.2