pdfminer3
matplotlib
pyresparser
streamlit
pandas
pymysql
spacy>=3.8.4
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
scikit-learn
streamlit-tags
google.generativeai
python-dotenv
pandas